<main>
    <div class="mb-4 pb-4"></div>
    <section class="login-register container">
        <h2 class="d-none">Register</h2>
        <div class="register-form">
            <form name="register-form" class="needs-validation" method="post">
                <div class="form-floating mb-3">
                    <input name="FirstName" type="text" class="form-control form-control_gray" id="customerNameRegisterInput" placeholder="First Name" required>
                    <label for="customerNameRegisterInput">First Name</label>
                </div>
                <div class="pb-3"></div>
                <div class="form-floating mb-3">
                    <input name="LastName" type="text" class="form-control form-control_gray" id="customerLastNameRegisterInput" placeholder="Last Name" required>
                    <label for="customerLastNameRegisterInput">Last Name</label>
                </div>
                <div class="pb-3"></div>
                <div class="form-floating mb-3">
                    <input name="Email" type="email" class="form-control form-control_gray" id="customerEmailRegisterInput" placeholder="Email address *" required>
                    <label for="customerEmailRegisterInput">Email address *</label>
                </div>
                <div class="pb-3"></div>
                <div class="form-floating mb-3">
                    <input name="Password" type="password" class="form-control form-control_gray" id="customerPasswodRegisterInput" placeholder="Password *" required>
                    <label for="customerPasswodRegisterInput">Password *</label>
                </div>
                <div class="d-flex align-items-center mb-3 pb-2">
                    <p class="m-0">Your personal data will be used to support your experience throughout this website, to manage access to your account, and for other purposes described in our privacy policy.</p>
                </div>
                <button class="btn btn-primary w-100 text-uppercase" type="submit">Register</button>
            </form>
        </div>
    </section>
</main>
<div class="mb-5 pb-xl-5"></div>
